* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.header {
  display: grid;
}
.products {
  display: grid;
}
.nav {
  display: grid;
  width: 100%;
  justify-items: center;
  text-align: center;
  background-color: #fefffe;
}
.nav-button {
  display: block;
  border: none;
  background-color: #3f6660;
  color: #fefffe;
  font-size: 1.2rem;
  margin: 1rem;
  width: 6rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.page-container {
  display: grid;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
}
.logo-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #3f6660;
  width: 100vw;
}
.main-logo {
  width: 17rem;
  height: auto;
}
.product-image {
  width: 10rem;
  height: auto;
}
.product-title {
  font-size: 1.5rem;
}
