* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.page-container {
  display: grid;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f6ee;
}
.header {
  display: grid;
}
.products-container {
  display: grid;
}
.nav {
  display: grid;
  justify-items: center;
  text-align: center;
}
.nav-button {
  display: block;
  background-color: #fefffe;
  color: #3f6660;
  border: 1px solid #3f6660;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 0.6rem;
  border-radius: 0.3rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 200ms;
}
.nav-button:hover {
  background-color: #3f6660;
  color: #fefffe;
}
.product {
  margin-top: 2rem;
  background-color: #fefffe;
  width: 95vw;
  min-width: 22rem;
  max-width: 33rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 9px 10px 22px rgb(63 102 96 / 15%);
  color: #3f6660;
}
.logo-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #3f6660;
  width: 100vw;
}
.main-logo {
  width: 49vw;
  height: auto;
}
.product-image {
  width: 10rem;
  height: auto;
}
.product-title {
  font-size: 1.5rem;
}
